.wrapper {
	.table {
		min-width: 100%;
		font-weight: 600;

		thead {
			text-align: left;
			font-size: 0.85em;
			color: var(--gray-color);

			@media (max-width: 768px) {
				display: none;
			}			
		}

		.row {
			display: grid;
			padding: 10px 0;
			min-height: 2.5em;
			line-height: 1.3em;
			align-content: center;
			grid-template-columns:
				minmax(160px, 1.2fr)
				minmax(150px, 4.4fr)
				minmax(100px, 1.17fr)
				minmax(100px, 1.05fr);

			@media (max-width: 768px) {
				gap: 10px;

				grid-template-columns:
					minmax(100px, 4.2fr)
					minmax(100px, 0.95fr);

				padding: 5px 0;
			}

			td {
				font-size: 0.9em;

				padding: 0 5px;
				border-radius: 5px;
			}	
		}		
	}
}