.row {
	&.first {
		border-top: 1px solid var(--gray-color);
		color: var(--color-font);
	}

	.event {
		&:not(&.empty) {
			border: 0.5px solid #808080;
			padding: 5px;
			border-radius: 5px;

			width: fit-content;
		}
	}

	@media (max-width: 768px) {
		.event.empty {
			display: none;
		}

		.code, .date {
			text-align: right;

			&:not(&.first) {
				color: var(--gray-color);
			}
		}

		.details {
			grid-column: 1;
			grid-row: 2;
		}

		.code {
			grid-column: 2;
			grid-row: 2;
		}

		.date {
			grid-column: 2;
			grid-row: 1;

			&:not(&.first) {
				display: none;
			}
		}
	}

	.date {
		color: var(--gray-color);
		&.first {
			color: var(--color-font);
		}
	}

	.Appointment {
		background-color: #b8c0ee;
	}

	.Observation {
		background-color: #9fe7fb;
	}

	.Condition {
		background-color: #d9edb7;
	}

	.Allergy {
		background-color: #fbc1d9;
	}

	.Medication {
		background-color: #b5ecd8;
	}

	.Diagnosis {
		background-color: #f8dfd7;
	}

	.CarePlan {
		background-color: #ecc2f1;
	}
	
	.Immunization {
		background-color: #98ffb9;
	}
	
	.Procedure {
		background-color: #ff9898;
	}		
}